* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  transition: 1s;
}

main {
  flex: 1;
}

/* Background layers */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/background-image.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  z-index: -2;
  opacity: 0.9;
  filter: blur(3.5px);
}


.container,
header,
footer {
  position: relative;
  z-index: 1;
}

/* Responsive*/
@media (max-width: 768px) {
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/background-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  z-index: -2;
  opacity: 0.9;
  filter: blur(5px);
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.183); 
  z-index: -1;
}

}

