       body {
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100vh;
           font-family: 'Cinzel', serif;
           overflow: hidden;
       }

       .index-box {
           text-align: center;
           animation: fadeIn 1.5s ease;
       }

       .redirect-text {
           font-size: 1.5rem;
           color: #292521;
           position: relative;
           display: inline-block;
           white-space: nowrap;
           overflow: hidden;

       }

       /* Bouncing dots after typing */
       .dots span {
           display: inline-block;
           animation: bounce 1.2s infinite;
           margin-left: 2px;
       }

       .dots span:nth-child(1) {
           animation-delay: 0s;
       }

       .dots span:nth-child(2) {
           animation-delay: 0.2s;
       }

       .dots span:nth-child(3) {
           animation-delay: 0.4s;
       }

       .dots span:nth-child(4) {
           animation-delay: 0.6s;
       }

       .dots span:nth-child(5) {
           animation-delay: 0.8s;
       }

       .dots span:nth-child(6) {
           animation-delay: 1s;
       }

       @keyframes bounce {

           0%,
           80%,
           100% {
               transform: translateY(0);
               opacity: 0.6;
           }

           40% {
               transform: translateY(-6px);
               opacity: 1;
           }
       }

       @media (max-width: 768px) {

           #authLoader,
           .loader {
               transform: scale(0.85);
           }
       }

       @media (max-width: 480px) {

           #authLoader,
           .loader {
               transform: scale(0.45);
           }

           .redirect-text{
                font-size: 1rem;
           }
           .dots span{
            font-size: .85rem;
           }
       }